<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact app</title>
</head>
<body style="background-color: chartreuse; color:mediumblue">
    <h1>Contact Page</h1>
    {% for instanace in contacts %}
    <div style="border: 2px solid mediumblue;">
        <ul>
            <li><p>{{ instanace.id }} - Name: {{ instanace.name }}</p></li>
            <li><p>&nbsp;Email: {{ instanace.email }}</p></li>
            <li><p>&nbsp;Phone: {{ instanace.phone }}</p></li>
        </ul>
    </div>
    {% endfor %}
</body>
</html>