{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <h1>
        About Page
    </h1>
    {% endblock content %}

    {% block another_content %}
    <p>Click the below Link to Launch the Blog APP</p>
    <h1 style="color:black; background-color:white;">
        <a href="http://127.0.0.1:8000/blog/articlelist/">OPEN THE BLOG APP</a>
    </h1>
    <h3>
        {{ name|capfirst }}
    </h3>
    <p>
        {{ about }},
        <br>
        {{ education }}, &nbsp; {{ college }}
        <br>
        Contact: {{ phone }}
    </p>

    <ul>
    {% for mark in marks %}
        {% if mark == 83.34 %}
            <li>{{forloop.counter}} - {{mark|add:15}}</li>
        {% elif mark == "6.71CGPA" %}
            <li>{{forloop.counter}} - This is my aggregate: {{mark}}</li>
        {% else %}    
            <li>{{forloop.counter}} - {{mark}}</li>
        {% endif %}
    {% endfor %}
    </ul>

    {% endblock another_content %}



</body>
</html>
