{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {% block content %}
    <h1>
        This is Contact Page! 
    </h1>
    {% endblock %}

    {% block another_content %}
    <p>CLick the Below Link to Launch the Contact APP</p>
    <h1 style="background-color:chartreuse; color: blue;">
        <a href="http://127.0.0.1:8000/contacts/data/">OPEN YOUR CONTACT LIST</a>
    </h1>
    {% endblock %}
</body>
</html>